* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    transform: translateX(1000%);
    transition: 1s ease;
}

.box:nth-child(odd) {
    transform: translateX(-1000%);
}

.box.show {
    transform: translateX(0);
}