* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.bg {
    width: 80vw;
    height: 80vh;
    background-image: url('https://images.unsplash.com/photo-1634301563161-91b0c9d1ecf5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
    font-size: 55px;
    opacity: 1;
    background-color: black;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}